.DS_STORE
/Users/oleejbyreinau/swiftui/swiftful/swiftful.xcodeproj/project.pbxproj
/Users/oleejbyreinau/swiftui/swiftful/swiftful.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Users/oleejbyreinau/swiftui/swiftful/swiftful.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Users/oleejbyreinau/swiftui/swiftful/swiftful.xcodeproj/project.xcworkspace/xcuserdata/oleejbyreinau.xcuserdatad/UserInterfaceState.xcuserstate
/Users/oleejbyreinau/swiftui/swiftful/swiftful.xcodeproj/xcuserdata/oleejbyreinau.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Users/oleejbyreinau/swiftui/swiftful/swiftful.xcodeproj/xcuserdata/oleejbyreinau.xcuserdatad/xcschemes/xcschememanagement.plist